PUBLIC_DATA_SERVICE_KEY=your_decoding_service_key
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SHEETS_SHEET_NAME=MarketData
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/service-account.json
